﻿@model EmployeeDirectory.Features.Account.ChangePassword.Command
@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>
@using (Html.BeginForm())
{
    @Html.Input(x => x.CurrentPassword)
    @Html.Input(x => x.NewPassword)
    @Html.Input(x => x.ConfirmPassword)
    <div>
        @Html.SaveButton()
        @Html.CancelButton(Url.Action("Index"))
    </div>
}
