﻿@model EmployeeDirectory.Features.Account.AccountLogin.Command
@{
    ViewBag.Title = "Employee Directory";
}
<div class="vertical-center">
    @using (Html.BeginForm())
    {
        <h2>Employee Directory</h2>
        @Html.Input(x => x.EmailAddress)
        @Html.Input(x => x.Password)
        <div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </div>
    }
</div>
