﻿@using EmployeeDirectory.Features.Employee
@model DeleteEmployee.ViewModel

<div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete @Model.FirstName @Model.LastName? This operation cannot be undone.
            </div>
            <div class="modal-footer">
                @Html.ConfirmButton("Delete", "","btn btn-primary", "return OnConfirmButtonClick('"+"Employee/Delete/"+Model.Id+"');")
                <button type="button" class="btn Secondary" data-dismiss="modal" aria-label="Cancel">
                    <span aria-hidden="true">Cancel</span>
                </button>
            </div>
        </div>
    </div>
</div>