﻿@model EmployeeDirectory.Features.Employee.EditEmployee.ViewModel
@{
    ViewBag.Title = "Edit Employee";
}

    <h2>Edit Employee</h2>
    @using (Html.BeginForm())
    {
        @Html.Input(x => x.EmailAddress)
        @Html.Input(x => x.FirstName)
        @Html.Input(x => x.LastName)
        @Html.Input(x => x.JobTitle)
        @Html.Input(x => x.Office)
        @Html.Input(x => x.PhoneNumber)
        <div>
            @Html.SaveButton()
            @Html.CancelButton(Url.Action("Index"))
        </div>
    }
