﻿@using EmployeeDirectory.Models
@model EmployeeDirectory.Features.Employee.EmployeeIndex.ViewModel[]
@inject UserContext User
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Office</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var employee in Model)
        {
        <tr>
            <td>@($"{employee.LastName}, {employee.FirstName}")</td>
            <td>@employee.JobTitle</td>
            <td>@employee.Office</td>
            <td>@employee.EmailAddress</td>
            <td>@employee.PhoneNumber</td>
            <td>@Html.GoogleDesignIcon("edit", "Employee/Edit/" + employee.Id)</td>
            <td>
                @if (employee.CanDelete)
                {
                    @Html.GoogleDesignIcon("delete", "Employee/Delete/" + employee.Id, "employee-delete-icon")
                }
            </td>
            </tr>
        }
    </table>
    
@Html.Button("Register New Employee","Employee/Register")
     

