﻿@model EmployeeDirectory.Features.Employee.RegisterNewEmployee.ViewModel
@{
    ViewBag.Title = "Register New Employee";
}

<h2>Register New Employee</h2>
@using (Html.BeginForm())
{
    @Html.Input(x => x.EmailAddress)
    @Html.Input(x => x.FirstName)
    @Html.Input(x => x.LastName)
    @Html.Input(x => x.Password)
    @Html.Input(x => x.ConfirmPassword)
    @Html.Input(x => x.JobTitle)
    @Html.Input(x => x.Office)
    @Html.Input(x => x.PhoneNumber)
    <div>
        @Html.SaveButton()
        @Html.CancelButton(Url.Action("Index"))
    </div>
}
