﻿@using EmployeeDirectory.Models
@inject UserContext User
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="/EmployeeManagement.css">
</head>
<body>
        @if (User.IsAuthenticated)
        {
            <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
              @Html.ActionLink("Employees", "Index", "Employee", "",new { @class = "navbar-brand" })
                    <div class="collapse navbar-collapse my-2 my-lg-0" id="navbarNavDropdown">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.User.EmailAddress</a>
                                <ul class="dropdown-menu mr-sm-2" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        @Html.ActionLink("Log Out", "LogOut", "Account","", new { @class = "dropdown-item" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Change Password", "ChangePassword", "Account","",new {@class="dropdown-item"})
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
            </nav>
        }
<div id="modalPopup"></div>
        <div class="container">
            @RenderBody()
        </div>
        @if (TempData.ContainsKey("ToastMessage"))
        {
            @Html.Hidden("toast", Html.Encode(TempData["ToastMessage"]), new { data_type = TempData["ToastType"] })
        }
        <div id="AntiForgeryToken">@Html.AntiForgeryToken()</div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <script src="/EmployeeManagement.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>
